@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  appearance: none;
  background-color: var(--color-primary);
  color: var(--background-primary);
  border: 0px solid var(--color-primary);
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.debug {
  border: 2px dashed deeppink;
  /* padding: 2px; */
}

.debug > * {
  border: 2px dashed dodgerblue;
}

/* Dark mode media */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #f3f5f4;
    --background-primary: #000cbb;
  }
}

::selection {
  background-color: var(--color-primary);
  color: var(--background-primary);
}
